<app-navbar></app-navbar>

<main class="cd__main">
    <div class="profile-page">
        <div class="content" *ngIf="userInfo">


            <div class="content__title">
                <h1>{{userInfo.username}}</h1>
                <span>Full Name: {{userInfo.fullName}}</span>
            </div>
            <div class="content__description">
                <p>Email: {{userInfo.email}}</p>
                <p>Phone: {{userInfo.phone}}&nbsp;&nbsp;</p>
            </div>
            <div class="content__button">
                <a class="button" href="editUser"><p class="button__text">Edit</p></a>
            </div>
        </div>


    </div>
</main>
<app-footer></app-footer>
