<app-navbar></app-navbar>

<main class="cd__main">
    <div class="profile-page">
        <div class="content">


            <div class="content__title">
                <h1>Samantha Jones</h1>
                <span>New York, United States</span>
            </div>
            <div class="content__description">
                <p>Email: ex&#64;gmail.com</p>
                <p>Phone: 0202020202</p>
                <p>Password: SCD12c4</p>
            </div>
            <div class="content__button">
                <a class="button" href="#"><p class="button__text">Edit</p></a>
            </div>
        </div>


    </div>
</main>
<app-footer></app-footer>
